<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<link rel="stylesheet" type="text/css" href="mainpage_doctor.css">

<body>
	<div id="mainpage">
		<div id="upperhead">
			<div id="image_portion">
		
			</div>
			<div id="name_portion">
				<h1>Name:</h1>
				<h2>Address:</h2>
	

				
			</div>	
		</div>
		<div id="option_list" style="padding-bottom: 10px">
			<ul>
			<li>
				<p>
					<a href="">Request access from patient</a>
				</p>
				<p><a href="">Add patient</a></p>
				<p><a href="">accept patient</a></p>
				<p><a href="">Pending request</a></p>
				<p><a href="">Patient reports</a></p>
			</li>
		</ul>
		</div>
		<div id= "transaction_box>

		</div>

	</div>z

</body>
</html>